jax>=0.4.31
tqdm>=4.66.4
pypomp>=0.0.1
numpy>=1.24
pandas
xarray
scipy
# Need this to resolve github actions error that seems to be related to xarray and python 3.11.
# TODO: Figure out how to resolve this error without adding this dependency.
typing_extensions
seaborn
matplotlib